{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'events/style.css' %}">
</head>
<body>

<div class="container">
    <h2>My Events</h2>

    <p class="text-center">
        <a href="{% url 'create_event' %}">+ Create Event</a>
    </p>

    <ul class="event-list">
        {% for event in events %}
        <li>
            <strong>{{ event.name }}</strong><br>

            <div class="actions">
                <a href="{% url 'event_detail' event.id %}">View</a>
                <a href="{% url 'edit_event' event.id %}">Edit</a>
                <a href="{% url 'delete_event' event.id %}" class="delete-link">Delete</a>
            </div>
        </li>
        {% empty %}
        <li>No events found</li>
        {% endfor %}
    </ul>

    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button class="delete-btn">Logout</button>
    </form>
</div>

</body>
</html>
